@model IEnumerable<Instructor>
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<gym-class-card></gym-class-card>
@*<div class="container">
    <div class="row">
@foreach (var item in Model) {
        
            <instructor-card instructor="@item"></instructor-card>
        
}
    </div>
</div>*@


<div class="container">
    <div class="row">
        @foreach (var item in Model) {
        <vc:instructor-card instructor="@item"></vc:instructor-card>
        }
    </div>
</div>